<footer>


    <div class="lower">
        <div class="inner">
            <div class="footer-col-1">
                <h6>Help &amp; Information</h6>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/terms">Terms of Order</a></li>
                    <li><a href="/returns">Returns &amp; Refunds</a></li>
                    <li><a href="/privacy">Privacy &amp; Cookies</a></li>
                </ul>
            </div>
            <div class="footer-col-2">
                <h6>Contact us</h6>
                <ul>
                    <li><a href="tel:+442039833596">call: 020 39 83 35 96</a></li>
                    <li><a href="mailto:hello@treehuggerbranding.com" target="_blank">email:
                            hello@treehuggerbranding.com</a></li><br>
                    <li>
                        <p>We're open Monday to Friday 8.30am - 6pm</p>
                    </li>
                </ul>
            </div>

            <div class="footer-col-4">
                <h6>Treehugger Branding Limited</h6>
                <li>
                    <p>43a Francis Street <br>Stoneygate <br>
                        Leicester. LE22BE
                    </p>
                </li>

            </div>

        </div>


        <div class="page-bottom">
            <div class="inner">
                <div class="company">
                    <p>&copy; 2023 Treehugger Branding Limited</p>
                </div>
                <div class="payment-icons">
                    <p>Payment methods</p>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-amazon-pay"></i>
                    <i class="fa-brands fa-cc-apple-pay"></i>
                    <i class="fa-brands fa-google-pay"></i>
                    <i class="fa-brands fa-stripe"></i>


                </div>



            </div>
        </div>
</footer>