<div class="logo-slider">
    <!-- <h2 class="heading-2 aligncenter">We work with these great brands</h2> -->
    <div class="logo-slide-track">
        <div class="logo-slide">
            <img src="/images/BrandLogos/client-logos-4.png" width="4651" height="95" alt="Featured Clients">
        </div>
        <div class="logo-slide">
            <img src="/images/BrandLogos/client-logos-4.png" width="4651" height="95" alt="Featured Clients">
        </div>
    </div>
</div>