<div class="review-cards">
    <div class="review-card">
        <div class="review-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                beatae tempora, repudiandae excepturi reprehenderit consequatur
                recusandae eos rerum
            </p>
        </div>
        <div class="card-footer">Card footer</div>
    </div>
    <div class="review-card">
        <div class="review-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                beatae tempora, repudiandae excepturi reprehenderit consequatur
                recusandae eos rerum
            </p>
        </div>
        <div class="card-footer">Card footer</div>
    </div>
    <div class="review-card">
        <div class="review-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                beatae tempora, repudiandae excepturi reprehenderit consequatur
                recusandae eos rerum
            </p>
        </div>
        <div class="card-footer">Card footer</div>
    </div>
    <div class="review-card">
        <div class="review-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                beatae tempora, repudiandae excepturi reprehenderit consequatur
                recusandae eos rerum
            </p>
        </div>
        <div class="card-footer">Card footer</div>
    </div>
    <div class="review-card">
        <div class="review-content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
                beatae tempora, repudiandae excepturi reprehenderit consequatur
                recusandae eos rerum
            </p>
        </div>
        <div class="card-footer">Card footer</div>
    </div>
</div>