<!-- terms and conditions -->

<%- include('./partials/header.ejs') %>


    <main>


        <section class="about footer-notes">
            <h4 class="about-heading">
                Treehugger Branding
            </h4>
            <p class="about-para">
                Are you looking for a great, sustainable way to promote your business? Treehugger Branding is here to
                help with outstanding, unique merchandise that will impress your customers, while also keeping you in
                their mind. This is a great way to boost your brand's allure and power, while standing out within your
                industry.
            </p>

            <p class="about-para">
                What makes Treehugger Branding unique is that we always focus on sustainability. This way you still get
                to promote your brand in an efficient manner, while also sharing a vast range of sustainable products.
                We are always committed to value and quality, and we provide many types of promotional products
                from biodegradable plastic items to lifelong or cotton bags and many others. We are only of the few
                companies in the world that don't provide any single use plastics.
            </p>

            <p class="about-para">
                Treehugger Branding's main focus is to help you enhance your branding efforts, while also showing you
                care about the environment. We created this business because we were sickened to see so much plastic
                left by day trippers on the beach every day. We decided to take action, while also using our marketing
                experience to deliver an extraordinary branding solution for companies worldwide. Our commitment is
                to value and professionalism, and we are ready to assist every step of the way.
            </p>
            <h4 class="about-sub-heading">
                Our Vision
            </h4>
            <p class="about-para">
                We want to help protect the environment while also making it easy for brands to push their branding
                efforts to the next level. We are always committed to excellence and we are ready to provide you with
                the ultimate set of printed merchandise.
            </p>
            <h4 class="about-sub-heading">
                Our Mission
            </h4>
            <p class="about-para">
                Treehugger Branding is here to help provide the best merchandising products that are affordable and
                dependable. This will help boost your exposure and push the boundaries to new heights all the time.
            </p>
            <h4 class="about-sub-heading">
                Our Values
            </h4>
            <p class="about-para">
                Treehugger Branding is a company focused on sustainability, transparency, professionalism and
                comprehensive branding solutions. We always listen to our customers and their requirements, while
                offering them the best products they need to push their brand in front of new clients and grow their
                business!
            </p>




        </section>

    </main>
    <!-- ======= INFINITE CAROUSEL END ======== -->

    <%- include('./partials/footer.ejs') %>

        </body>

        </html>