<!-- terms and conditions -->

<%- include('./partials/header.ejs') %>


    <main>


        <section class="terms footer-notes">
            <h4>
                About Us
            </h4>
            <p>
                Treehuggerbranding.com is the trading name of Treehugger Branding Limited.
            </p>

            <p>
                Treehugger Branding Limited are compliant with the current General Data Protection Regulations 2018
                (GDPR policy
                introduced May 25th 2018). Our Policy will be reviewed periodically within reasonable time frames to
                allow continuing
                development and upgrades. Any changes to our Privacy Policy or any changes issued from the Information
                Commissioner's
                Office (ICO) will either be implemented with immediate effect or within reasonable timeframes as
                instructed by the ICO.
                Changes will be posted on our website.
            </p>

            <p>
                During the course of your business with us we may collect personal data such as your name, address,
                telephone numbers
                and email addresses. We do not collect or store bank details from any clients (vendors) who have shown
                BACS as their
                preferred payment method.
            </p>

            <p>
                We do not collect or store any Card information from Clients (vendors) making payment by Credit/Debit
                Cards. All Card
                payments are made using a secure payment link provided by our card/payment processing partners, PayPal,
                Elavon and
                WorldPay. This information is not stored with ourselves and once payments have been verified, the
                transaction details
                are held by these partners under their encrypted and secure cloud storage as set out by the FCA. These
                transactions are
                stored for the duration set out by the Banking Authorities to prevent fraudulent use of credit and debit
                cards. Privacy
                policies for our partners can be found on their websites and we encourage you to check these before
                submitting any
                personal data.
            </p>
            <P>Visitors to our website may also provide certain information to us via our online enquiry form. This may
                include your IP
                address, geographical information, etc.</P>
            <p>In addition, some information is provided by third parties such as Agencies. These parties may instruct
                us to act on
                their behalf.</p>
            <p>CCTV operates throughout our premises and those images are stored for security and training purposes
                only.
            </p>
            <p>
                Visitors To Our Website:</br>
                When someone visits Treehugger Branding Limited we use a third party service, Google Analytics, to
                collect standard
                internet log information and details of visitor behaviour patterns. We do this to find out things such
                as the number of
                visitors to the various parts of the site. This information is only processed in a way which does not
                identify anyone.
                We do not make, and do not allow Google to make, any attempt to find out the identities of those
                visiting our website.
                If we do want to collect personally identifiable information through our website, we will be up front
                about this. We
                will make it clear when we collect personal information and will explain what we intend to do with it.
                This, in the
                majority of cases, will be at the point you make an official enquiry
            </p>

            <p>
                What Personal Data Do We Process And Why?</br>
                We only collect your name, address, telephone number and email address under the following
                circumstances:
            </p>
            <p>You register an enquiry via our website. These are in the form of:</p>
            <p>Quotation Request (Quick Quote) <br>Sample Request </p>

            <p>You contact our Company for sales or enquiry via telephone / email
                The supply of Sales Invoices, statements and other administrative requirements.
                You ask to be placed on our mailing lists.
                We collect this information for legitimate business reasons and only store contact information in line
                with legal
                requirements.
            </p>
            <p>Our offices are protected by CCTV for the safety of our employees, clients and visitors. CCTV images are
                stored for a
                reasonable amount of time and may, in the case of theft for example, be passed to third parties if they
                have and can
                prove a legal right to access.</p>
            <p>We collect these images for legitimate business and security reasons.</p>
            <p>
                Access to Data:</br>
                In order to efficiently run our business and to be able to offer exceptional levels of service, it is
                essential that
                staff with the relevant permissions have access to your data. All computers are password protected
                and/or, dependent on
                permission levels, require further authentication.
            </p>


            <p>
                Retention of Data:</br>
                Our Data Retention Schedule, which in the majority of cases is seven years, or, in line with relevant
                laws or regulatory
                obligations (for instance HMRC) will be securely stored by Treehugger Branding Limited.
            </p>

            <p>
                Transfer of Data:</br>
                Treehugger Branding Limited will not release your information to third parties to use for their own
                purposes. We do
                share data with third parties when it is necessary to complete a sale or service.
            </p>
            <p>We do not Transfer, sell or exchange your data to any third parties for mailing lists or telephone sales.
            </p>
            <p>Treehugger Branding Limited, may, in certain circumstances have an obligation to provide data to third
                parties for the
                prevention and detection of crime and for anti-money laundering checks.</p>
            <p>We collect this information for legitimate business reasons.</p>
            <p>We do not transfer your data to other websites although we may have links on our own websites to others
                and we would
                recommend that you check their privacy policy before providing any personal information.</p>

            <p>How Do We Keep Your Data Secure?</p>
            <p>
                Treehugger Brandingtake all appropriate and reasonable steps to make your data secure. This can be in
                the form of but
                not limited to, means of physical protection, passwords, anti-virus protection, 3 step authentication
                and staff
                training.
            </p>
            <p>

                Consent:</br>
                By submitting any personal information to us you consent to the use of information as set out in this
                privacy policy. We
                reserve the right to amend or modify this privacy policy and if we do so we will post the changes on our
                website. It is
                your responsibility to check this privacy policy every time you submit information to us. Your use will
                signify that you
                agree to any such changes. You have a right to request withdrawal of consent at any time.
            </p>

            <p>
                Your right to be forgotten and withdrawal of consent:</br>
                The 'Right to be Forgotten'. Under Article 17 of the GDPR individuals have the right to have personal
                data erased. The
                right is not absolute and only applies in certain circumstances, details of which can be found on the
                Information
                Commissioner's Office website.
                https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/.
                We will action any right to be forgotten within one month of the request being made to us unless we have
                a legal
                obligation to keep or in the exercise or defence of legal claims.
            </p>
            <p>

                Contact Us:</br>
                If you have any queries regarding our Privacy Policy, please do not hesitate to contact either at our
                office, by mail,
                telephone or email.
            </p>
            <p>
                Treehugger Branding Limited <br>
                43 Francis Street <br>
                Leicester LE22BE <br>
            </p>
            <p>Telephone: 020 3983 3596</p>
            <p>Email: hello@treehuggerbranding.com</p>
            <p>
                You are in control of any personal information you provide to us online. If at any time you would like
                to correct the
                personal information we have about you, please contact us.
            </p>
            <p>In order to review any personal information we have collected about you via this website or to ask us to
                delete that
                information or to stop further use of the information, please contact us.</p>
            <p>

                Cookies:</br>
                The Treehugger Brandingwebsite uses a number of different 'cookies'
            </p>

            <p>Cookies are small pieces of information that a web site transfers to an individual's hard drive for
                record-keeping
                purposes.</p>
            <p>There are two broad categories of cookies:</br></p>
            <p>

                Persistent cookies:<br>
                Persistent cookies remain on your device until deleted manually or automatically.

            </p>
            <p>Session cookies:<br>
                Session cookies remain on your device until you close your browser when they are automatically deleted.
            </p>
            <p> How we use cookies:<br>
                Performance cookies allow us to count the number of visitors to our website and gain an understanding of
                how visitors
                move around. This helps us to improve the way our site works. The information we collect from
                performance cookies is
                aggregated and does not contain personally identifiable information.
            </p>
            <p> Refusing cookies:<br>
                You can click on the “Help” section of your web browser to learn how to change your cookie preferences.

            </p>
            <p> Links to other websites:<br>
                We offer links to sites that are not operated by Treehuggerbranding.com. If you visit one of these
                linked sites, it is
                your responsibility to review their privacy and cookie policies.

            </p>

        </section>

    </main>
    <!-- ======= INFINITE CAROUSEL END ======== -->

    <%- include('./partials/footer.ejs') %>

        </body>

        </html>