<!-- terms and conditions -->

<%- include('./partials/header.ejs') %>


    <main>


        <section class="terms footer-notes">
            <h4>
                Returns and Refunds Policy
            </h4>
            <p>
                Due to the custom nature of the print, all printed stock cannot be returned as personalised goods cannot
                be resold as
                they are made to your specifications.
            </p>

            <p>
                If however, the printing errors are deemed our fault, we will gladly reprint and replace all affected
                products and/or
                issue a part or full refund after being accessed on an individual basis.

            </p>

            <p>
                Damaged items:</br>
                Orders damaged whilst in transit, in part or in full, please inform us within 48 hours of delivery.

            </p>

            <p>
                Faulty items:</br>
                Please contact us within 7 days or delivery of any faulty items. They (defective items) will need to be
                kept safe for
                our collection.
            </p>

            <p>
                Refunds:</br>
                All refunds will be made within 30 days of Treehugger Branding Limited receiving the returned goods.
            </p>





        </section>

    </main>
    <!-- ======= INFINITE CAROUSEL END ======== -->

    <%- include('./partials/footer.ejs') %>

        </body>

        </html>