<!-- terms and conditions -->

<%- include('./partials/header.ejs') %>


    <main>


        <section class="terms footer-notes">
            <h4>
                Our terms and conditions
            </h4>
            <p>
                All orders are subject to these terms and conditions. Upon receipt of acknowledgment of your order, you
                accept that our
                conditions are the only conditions that apply to the contract. The term "Company" refers to Treehugger
                Branding Limited.
            </p>

            <p>
                Payment Terms - Approved Accounts:</br>
                Payment shall be made in full within 28 days of invoice, unless special settlement terms have been
                agreed in writing.
                For new accounts, full payment is required at the time of order placement. Credit is only granted at the
                discretion of
                the director.
            </p>

            <p>
                Passing of title and risk:</br>
                Title and risk pass to you upon delivery. We retain ownership of all goods until full payment is
                received. You must keep
                these items apart from other merchandise and clearly mark them to make it apparent they are our property
                up until the
                point of full payment. Any money you receive from sales of these items must also be kept in a separate
                account on our
                behalf. If you don't pay for the items, we'll take them out of your possession in accordance with these
                terms and
                conditions without losing any of our rights or remedies. We also have the right to go to the place where
                the goods are
                being stored, seize them, and take them away. You hereby give us permission to enter your property for
                the
                aforementioned use.
            </p>

            <p>
                Quotations and contracts:</br>
                Orders are accepted with the understanding that we reserve the right to change the prices stated to
                reflect any
                amendments to the legislation or changes in government rules that force us to increase prices through
                the use of direct
                taxation, import duties, customs and excise duties, or other means. The prices are based on current
                costs of production,
                and we reserve the right to pass along any wage or material cost increases that take place after the
                confirmation or
                approved contract. All quotations are valid at the time of quoting error and omissions excluded
            </p>

            <p>
                Prices:</br>
                All prices are subject to the current rate of VAT when applicable. Prices listed on this website are
                merely estimates
                based on viewing the finished artwork. A quotation pricing will be finalised once the artwork and the
                specifications
                have been agreed upon.
            </p>

            <p>
                Delivery and lead times:</br>
                While every attempt will be taken to deliver on time, any delivery day or lead-time mentioned is only a
                best estimate,
                and no responsibility is accepted for any loss resulting from a delay in delivery or an error in the
                delivery of the
                products.
                All deliveries will be billed at the prices in effect on the day of the delivery. Special rush
                deliveries can typically
                be scheduled, but they will typically incur extra fees (such as rush print fees and rush delivery fees)
                that will be
                invoiced to you at current commercial rates.
                Lead times shall be assumed to start on the day and time that the company obtains written, "signed off"
                approval of the
                artwork that the company submitted to the client.
            </p>

            <p>
                Quantity variations:</br>
                We shall be deemed to have fulfilled our contract by delivery of a quantity within 10% plus or minus of
                the quantity of
                printed goods ordered and you will be charged at the contract rate for the quantity delivered.
            </p>


            <p>
                Claims:</br>
                Claims arising from damages, delay or partial loss in transit must be made in writing to us, so as to
                reach us within 5
                days of delivery. All claims with regard to the quality or quantity of the goods shall be made in
                writing to us, so as
                to reach us within 5 days of receipt of goods or such goods shall be deemed to comply as to quality and
                quantity with
                the terms of the contract. You must examine all goods delivered at the time of delivery and confirm
                receipt. We shall
                not be liable for any loss or damage caused to the goods in transit unless loss or damage is noted at
                the time of
                delivery. Claims in respect of non-delivery must be made in writing so as to reach us within 4 days from
                receipt of our
                invoice.
            </p>

            <p>
                Liability:</br>
                Our liability for any loss or damage you incur in relation to the products will be limited to the
                contract value of the
                goods, with the exception of cases where product flaws result in death, bodily injury, or damage to
                property. If you
                don't properly follow the claim notification procedures outlined in 7, we cannot be held accountable for
                any loss or
                damage resulting from the delivery of products under this contract. The rights of a consumer are not
                affected by
                anything in these terms and conditions.
            </p>

            <p>
                Cancellation:</br>
                A charge will be made on all cancelled orders, together with the charge for all work carried out up to
                the date of
                written cancellation.
            </p>
            <p>

                Overdue cheques:</br>
                No goods will be delivered on accounts that remain unpaid 14 days after payment is due. Interest will be
                charged on
                overdue accounts, at the rate of 5% above the Barclays Bank PLC base rate from time to time from the
                date the account
                became due until payment is received. This does not prevent us from pursuing payment of overdue accounts
                at any time
                after payment becomes due and shall be in addition to and without prejudice to any other rights, we may
                have against
                you. We reserve the right to charge you for any legal or collection charges where it is necessary to
                obtain payment from
                you of an overdue account through a third party or Court proceedings.
            </p>

            <p>
                Artwork and printing:</br>
                Unless otherwise specified by us in advance, all artwork and printing fees will be assessed as needed.
                In certain cases,
                the costs displayed include artwork and one-color printing in one position. For additional print colours
                and printing
                positions, or for quantities different than those indicated, please use the fast quotation form to get a
                precise quote
                or get in touch with us by phone, fax, or email.
            </p>
            <p>

                Changes to artwork:</br>
                In order to print efficiently from the artwork you supply, it may be necessary to adjust or redraw your
                artwork. You
                will be advised of the changes made. No printing will take place until the Company has received in
                writing your "signed
                off" approval of the artwork. In order to sign off your artwork we will send you an artwork approval
                form via email
                illustrating how your artwork will look on your chosen product. This MUST be checked thoroughly and
                signed off. The job
                will not commence until we have received in writing this signed off approval. You must notify us of any
                discrepancy in
                the artwork or order as we DO NOT accept any liability of any post-completion errors or omissions.
            </p>
            <p>

                Colour variations:</br>
                Due to the range of materials and imprinting techniques used by the Company and its suppliers, no
                assurance can be made
                that Pantone numbers or colour samples provided by the customer will be perfectly matched. The Company
                will make an
                effort to match these colour references as closely as possible, but it cannot be held responsible for
                any additional
                costs that may arise.
            </p>
            <p>

                Force majeure:</br>
                We will not be held responsible for failure or delay in the carrying out of our obligations under the
                contract arising
                out of any cause outside our reasonable control or by inability to procure materials or articles except
                at higher prices
                due to any such cause and in such circumstance`s we shall be entitled by notice to terminate the
                contract in whole or in
                part without incurring any liability to you.
            </p>


            <p>
                Customs and overseas deliveries:</br>
                For all our overseas deliveries we only use well known carriers including UPS, DHL and Fedex. Even
                though we do our best
                to include all custom charges there may be times that the country of origin will require the receiver to
                pay these
                charges for goods to be released. If you are outside of the UK and place an order with Treehugger
                Branding Limited, you
                are confirming that you are aware there is a chance of extra fees and that Treehugger Branding Limited
                is not liable for
                these costs and any delay that may be caused due to this. Please note that we will always help our
                clients in resolving
                any customs issues to the best of our ability, however sometimes depending on the country this can only
                be resolved
                locally.
            </p>


        </section>

    </main>
    <!-- ======= INFINITE CAROUSEL END ======== -->

    <%- include('./partials/footer.ejs') %>

        </body>

        </html>